.posts__list {
    @extend %max-width;
    // margin: 0;
    padding: 0 1rem;
    list-style-type: none;
    text-align: left;

    @media (min-width: 670px) {
        padding: 0;
    }

    li {
        margin: 0;
        padding: 0;
    }
}

.posts__post {
    @extend %max-width;

    margin: 0 auto 2.5rem;;
    padding: 0;
}

.posts__post__link {
    text-decoration: none;
    color: $black;
    display: block;

    &:visited {
        color: $black;
    }

    &:hover {
        color: $pink;
    }
}

.posts__post__title {
    font-size: 1.2rem;
    margin-bottom: 0.25rem;
}

.posts__post__image {}
.posts__post__description {
    margin: 0.5rem auto 1rem;
    padding: 0;
}

// post page
.post {
    @extend %max-width;
    margin-bottom: 2rem;
    padding: 0 1rem;

    @media (min-width: 650px) {
        padding: 0;
    }

    h1 {
        margin-top: 0;
    }
}
.feature-image {
    @extend %max-width;
}

.post__date {
    display: inline-block;
    margin: 0 0 1rem;
}

.post__content p {
    padding: 1rem 0;
}