p {
    padding: 1rem;
    margin: 0;
}

a {
    font-weight: bold;
    color: $green;

    &:visited {
        color: darken($green, 5%);
    }

    &:hover {
        color: $pink;
    }
}

.game-link {
    margin-top: 1rem;
    padding-bottom: 2rem;
    display: block;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    .nav-link {
        display: block;
        text-decoration: none;
        margin: 0 auto 1rem;

    }

    iframe {
        max-width: 100%;
    }
}

h1,
h2 {
    color: $heading;
    font-family: 'Slabo', 'Arial Narrow', Arial, Helvetica, sans-serif
}

.button {
    background: $pink;
    color: $white;
    border-radius: 0 3px 3px 0;
    border: none;
    margin-bottom: 1rem;
    padding: 0.5rem;

    &:hover {
        background: lighten($pink, 10%);
    }
}