$red: rgb(245, 86, 99);
$pink: #f92672;
$white: #fffff5;
$green: #75B54E;
$heading: darken($green, 25%);
$black: #444;

@import "font";

%max-width {
    width: 100%;
    max-width: 650px;
    margin: auto;
}

.body {
    color: $black;
    text-align: left;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: $green;
}

.main {
    background: $white;
    padding-bottom: 1rem;
}

// mailchimp hidden
.mc-hidden {
    position: absolute;
    left: -5000px;
}

strong {
    font-weight: bold;
}

@import "base";
@import "header";
@import "footer";
@import "typography";
@import "nav";
@import "home";
@import "project";
@import "blog";

@import "print";
