/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

$red: rgb(245, 86, 99);
$pink: #f92672;
$white: white;
$green: #75B54E;

@import "font";

.body {
    color: white;
    text-align: center;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #75B54E;
}

@import "base";
@import "background";
@import "nav";
@import "project";
@import "print";
