$red: rgb(245, 86, 99);
$pink: #f92672;
$white: #fffff5;
$green: #75B54E;
$black: #222;

@import "font";

.body {
    color: $black;
    text-align: left;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: $green;
}

.main {
    background: $white;
    padding-bottom: 1rem;
}

// mailchimp hidden
.mc-hidden {
    position: absolute;
    left: -5000px;
}

@import "base";
@import "header";
@import "footer";
@import "nav";
@import "project";
@import "blog";

@import "print";
