<nav class="top-nav">
    <a href="/" {% if current_path == "/" %} class="active" {% endif %}title="Home page">Home</a>
    <a href="/about" {% if current_path == "about/" %} class="active" {% endif %}title="About the company">About us</a>
    <a href="https://www.runnyblock.com" title="Runny block - infinite runner game" target="_blank">Runny Block</a>
    <a href="https://whostolemyhat.itch.io/pairs" title="Pairs - puzzle match game" target="_blank">Pairs</a>
    <a href="https://fish.dontexpectanythingsensible.uk" title="Details of game development" target="_blank">Shimi Paperfish devlog</a>
    <a href="#games" title="All other games">Other games</a>
</nav>
