{% extends "index.html" %}
{% block bodyclass %}home{% endblock bodyclass %}

{% block banner %}
<a href="http://www.runnyblock.com" title="Play our latest game here" class="game-link">
    <button class="nav-link button">Play Runny Block</button>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/rX49g9RI8PQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</a>
{% endblock banner %}


{% block scripts %}
    <script defer src="/js/main.js?v=1454068963805"></script>
{% endblock scripts %}
