<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Don't Expect Anything Sensible</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/normalize.min.css?v=1454068963805">
        <link rel="stylesheet" href="/main.css?v=1454068963805">

        <meta name="theme-color" content="#f92672">

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js?v=1454068963805"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js?v=1454068963805"><\/script>')</script>
        <![endif]-->
    </head>
    <body class="body">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header class="header">
            <h1 class="title"><img src="/img/mouflon.svg?v=1472027851439" class="logo"> Don't Expect <br>Anything Sensible</h1>
        </header>

        <main class="main">
            <div class="background">
                <div class="tagline">
                    <p>An independent games studio based in Bristol. To receive updates and alpha invitations, sign up below.</p>
                    {% include "partials/mailchimp.html" %}
                </div>

                {% include "partials/nav.html" %}
                {% block banner %}{% endblock banner %}
            </div>

            {% block content %}
                {{ section.content | safe }}
            {% endblock content %}
        </main>



        <footer class="footer">
            <p>Sign up for updates from our mailing list:</p>
            {% include "partials/mailchimp.html" %}

            <nav class="nav__footer">
                <a href="http://twitter.com/reallysensible" title="Follow us on Twitter" class="nav-link nav-link--company">Twitter</a>
                <a href="mailto:hello@dontexpectanythingsensible.uk" title="Email us" class="nav-link">Get in touch</a>
            </nav>

            <p>Don't Expect Anything Sensible Ltd is a company registered in England and Wales, registered number 09278114. Registered address: Telecom House 125-135 Preston Road, Brighton, East Sussex BN1 6AF</p>
        </footer>

        <script src="/js/analytics.js"></script>
        {% block scripts %}{% endblock scripts %}
    </body>
</html>
